<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lots</title>
 <style>
      table {
        width: 98%;
        border-collapse: collapse;
        margin: 5% auto;
      }
      th,
      td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
      p {
        font-size: 25px;
        text-align: center;
      }
      
      
    </style>
    
    <script th:inline="javascript">
    
         function handleViewActualsAndChare(lotId){
    	        window.location.href = "/insp/lot/search/info?id="+lotId;
         }
    
         function handleEdit(lotId){
    	        window.location.href = "/insp/lot/edit/info?id="+lotId;
        }
         
         function handleCharacteristics(lotId) {
     		

     		window.location.href = "/material/lot/char?id=" + lotId;
     	}
    </script>
</head>
<body>
<header>

<button type="button" th:onclick="history.back()">BACK</button>
<p>Inspection Lot Details</p>
</header>
<main>
      <section>
        <div>
          <table th:id="lots">
            <tr>

              <td>Lot ID</td>
              <td>Created On</td>
              <td>Inspection Start On</td>
              <td>Inspection End On</td>
              <td>Material</td>
              <td>Status</td>
              <td>Inspected By</td>
              <td>Actions</td>
             
            </tr>
            <tr th:each="obj : ${list}" >
              
              <td th:text="${obj.lotId}" id="inspection-lot"></td>
              <td th:text="${obj.createdOn}" ></td>
              <td th:text="${obj.startOn}"></td>
              <td th:text="${obj.endOn != null ? obj.endOn : 'PENDING'}"></td>
              <td th:text="${obj.material}"></td>
              <td th:text="${obj.result}" th:style="${obj.result == 'INSP' ? 'color: blue;' : obj.result == 'FAIL' || obj.result == 'RE-INSPECT' ? 'color:red;' :'color:green;'}"></td>
              <td th:text="${obj.inspectedBy != 0 ? obj.inspectedBy : '-'}"></td>
              <td><button th:onclick="|handleViewActualsAndChare('${obj.lotId}')|">View Actuals</button> 
              <button th:style="${obj.result == 'INSP' && obj.actualsStatus == false ? 'display:none' : 'color:red'}" th:onclick="|handleEdit('${obj.lotId}')|">Edit</button>
              <button th:style="${obj.endOn == null && obj.result == 'INSP' && obj.actualsStatus == false ? 'color:green': 'display:none' }" th:onclick="|handleCharacteristics('${obj.lotId}')|">Add Actuals</button></td>
            </tr>
          </table>
        </div>
      </section>
    </main>
</body>
</html>